#main-content {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 750px; */
}

#rec-panel {
    position: fixed;
    margin-left: 65%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 3px;
    min-height: 350px;
    padding: 1%;

    border: solid 1px red;
    min-width: 300px;

}

#prof {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* font-family: 'Source Sans Pro';font-size: 22px; */
    
    
    border: 1px dotted red;

}

.small-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#suggestions-title {
    color: gray;
    font-weight: bold;
}

.suggestion-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    
    /* border: dotted 1px black; */
}

.suggestion-item p {
    margin: 0px;
}





html {
    scroll-behavior: smooth;
    background-color: rgb(233, 233, 233);
}

body{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;    
    display: flex;
    
    

}

header{
    top: 0;
    left: 0;
    position:fixed;
    width:100%;
    height: 70px;
    background-color: white;
    margin: 0;
    padding: 0;
}

nav{
    width:100%;
    display: flex;
    justify-content: space-between;
}


nav h1{
    margin-left: 15px;
    padding:10px;
    margin-top: 10px;
    font-size: 25px;

}

nav ul {

    list-style-type: None;
    display:flex;
    padding: 10px;
    margin: 35px;
    font-size: 15px;
    margin-top: 10px;

}

li{
    margin:7px;
}

#signout{
    color: rgb(23, 175, 235);
}

a:link {
    text-decoration: none;
}


#stories-panel{

        background-color: white;
        display: flex;
        justify-content: flex-start;
        top: 100;
        margin-top:80px;
    
    }
    
    .story{
        display:flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 15px;
    }
    
    .story-pic{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid rgb(204, 204, 204);
    }
    



/* cards */
#post-card {
    /* border: solid 1px green; */

    background-color: white;
    width: 750px;
   

}

#post-card #top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 15px 0px 15px;

}

.post-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#right-post-icons {
    padding: 0px 5px 0px 0px;
}

.post-info {
    /* border: 1px solid red; */

    font-size: 15px;
    padding-left: 10px;
}


#comment-section {
    /* border: 1px solid red; */
    padding-left: 10px;
    padding-bottom: 10px;
}

.comment {
    /* border: 1px dotted black; */
    font-size: 15px;
    padding: 4px;
}

#comment-section p {
    margin: 0px;
}

#add-comment-section {
    
    border-top: solid .5px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.comment-section-right {
    margin-right: 10px;
}

.comment-section-left {
    /* border: dotted 1px blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}



@media screen and (max-width: 768px) {
    #rec-panel {
        display: none;
    }
    /* #main-content {
        margin-left: 10px;
    }

    body {
        width: 2%;
    } */
}

@media screen and (min-width: 768px) {
    /* #main-content {
        width: 100%;

    } */
}


