
<div id="stories-panel">
{% for story in stories %}

    <div class="story">
        <img src={{story['user'].get('profile_url')}} class="story-pic" alt="story-pic">
        <p id = "story-text" style="font-family: Arial, Helvetica, sans-serif; color: gray; font-size: 15px">{{ story['user'].get('username') }}</p>

    </div>
    <!-- <div class="story">
        <img src="https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg" class="story-pic" alt="story-pic">
        <p style="font-family: Arial, Helvetica, sans-serif; color: gray; font-size: 15px; text-align: center;">bobama</p>
    </div> -->

    <!-- <div class="story">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzcMoUAIyfuNQnfgTs8qZAp1HB-3mUZYYCoA&usqp=CAU" class="story-pic"alt="story-pic">
        <p style="font-family: Arial, Helvetica, sans-serif; color: gray; font-size: 15px; text-align: center;" >snoopy</p>
        
    </div> -->

    <!-- <div class="story">
        <img src="https://picsum.photos/750/400" class="story-pic" alt="story-pic">
        <p style="font-family: Arial, Helvetica, sans-serif; color: gray; font-size: 15px ; text-align: center;">spongeb</p>
        
    </div> -->

    <!-- <div class="story">
        <img src="https://picsum.photos/750/400" class="story-pic" alt="story-pic">
        <p style="font-family: Arial, Helvetica, sans-serif; color: gray; font-size: 15px; text-align: center;">hgranger</p>
        
    </div> -->
    {% endfor %}
</div>

