<div id="rec-panel">
    <div id="prof">
        <img src={{ user.get('profile_url') }} class="profile-pic">
        <p class="profile_text" style="font-size: 27px"><strong>{{user.get('username')}}</strong></p>
    </div>

    

    <div id="suggestions">
        <p id="suggestions-title">Suggestions for you</p>
        <!-- put suggestions here in div with common class -->
        {% for sugg in suggestions %}
        <div class="suggestion-item">
            <img src={{ sugg.get('profile_url') }} class="small-profile-pic">
            
            <div class="right-sugg">
                <div>
                    <p style="font-size: 20px">{{ sugg.get('username') }}</p>
                    <p style="color: gray; font-size: 15px">suggested for you</p>
                </div >
                <div class="follow">
                    <a href=""style="color: rgb(23, 175, 235); font-size: 15px">follow</a>
                </div>
            </div> 

        </div>

        <!-- <div class="suggestion-item">
            <img src={{ suggestions[1].get('profile_url') }} class="small-profile-pic">
            <div>
                <p style="font-size: 20px">{{ suggestions[1].get('username') }}</p>
                <p style="color: gray; font-size: 15px">suggested for you</p>
            </div>
            <div class="follow">
                <a href="" style="color: rgb(23, 175, 235); font-size: 15px">follow</a>
                </div>
        </div>

        <div class="suggestion-item">
            <img src={{ suggestions[2].get('profile_url') }} class="small-profile-pic">
            <div>
                <p style="font-size: 20px">{{ suggestions[2].get('username') }}</p>
                <p style="color: gray; font-size: 15px">suggested for you</p>
            </div>
            <div class="follow">
                <a href="" style="color: rgb(23, 175, 235); font-size: 15px">follow</a>
                </div>
        </div>

        <div class="suggestion-item">
            <img src={{ suggestions[3].get('profile_url') }} class="small-profile-pic">
            <div>
                <p style="font-size: 20px">{{ suggestions[3].get('username') }}</p>
                <p style="color: gray; font-size: 15px">suggested for you</p>
            </div>
            <div class="follow">
                <a href="" style="color: rgb(23, 175, 235); font-size: 15px">follow</a>
                </div>
        </div>

        <div class="suggestion-item">
            <img src= {{ suggestions[4].get('profile_url') }} class="small-profile-pic">
            <div>
                <p style="font-size: 20px">{{ suggestions[4].get('username') }}</p>
                <p style="color: gray; font-size: 15px">suggested for you</p>
            </div>
            <div class="follow">
                <a href="" style="color: rgb(23, 175, 235); font-size: 15px">follow</a>
                </div>
        </div> -->


    
        {% endfor %}
        
    </div>


    

</div>