<!doctype html>
<html lang="en">
<head>
    <title>Photo App</title>
    <link rel="stylesheet" href="static/css/starter-client.css">
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/99a22e143d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap" rel="stylesheet">
<script lang="text/javascript" src="/static/js/hw04.js" defer></script>
</head>
<body>
    <!-- Nav Bar still rendered via server-side template -->
    {% include 'includes/navbar.html'  %}

    <div id="main-content">

        <div class="stories">
            <!--rendered client side -->
        </div>


    <div class="post-card">
        <!--rendered client side -->
    </div>


<div id="rec-panel">
    <div id="prof">
        <!--rendered client-->
    </div>

    <div id="suggestions">
        <div class="suggestion">
            <!-- suggestions rendered client-side-->
        </div>
    </div>


</div>



</body>
